<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<display-name>maven.productactive</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>DeadlineServlet</servlet-name>
		<servlet-class>com.sddevops.maven.productactive.DeadlineServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeadlineServlet</servlet-name>
		<url-pattern>/DeadlineServlet/dashboard</url-pattern>
		<url-pattern>/DeadlineServlet/create</url-pattern>
		<url-pattern>/DeadlineServlet/insert</url-pattern>
		<url-pattern>/DeadlineServlet/edit</url-pattern>
		<url-pattern>/DeadlineServlet/update</url-pattern>
		<url-pattern>/DeadlineServlet/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActivityLoggerServlet</servlet-name>
		<servlet-class>com.sddevops.maven.productactive.ActivityLoggerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityLoggerServlet</servlet-name>
		<url-pattern>/ActivityLoggerServlet/dashboard</url-pattern>
		<url-pattern>/ActivityLoggerServlet/edit</url-pattern>
		<url-pattern>/ActivityLoggerServlet/update</url-pattern>
		<url-pattern>/ActivityLoggerServlet/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.sddevops.maven.productactive.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NotepadManagement</servlet-name>
		<servlet-class>com.sddevops.maven.productactive.NotepadManagement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotepadManagement</servlet-name>
		<url-pattern>/NotepadManagement/dashboard</url-pattern>
		<url-pattern>/NotepadManagement/edit</url-pattern>
		<url-pattern>/NotepadManagement/update</url-pattern>
		<url-pattern>/NotepadManagement/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>com.sddevops.maven.productactive.AccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/AccountServlet/userPage</url-pattern>
		<url-pattern>/AccountServlet/edit</url-pattern>
		<url-pattern>/AccountServlet/update</url-pattern>
		<url-pattern>/AccountServlet/delete</url-pattern>
	</servlet-mapping>
	
</web-app>